@font-face {
  font-family: "SegoeUItalic";
  src: url("./SegoeUI-SemiboldItalic.eot");
  src: url("./SegoeUI-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("./SegoeUI-SemiboldItalic.woff") format("woff"), url("./SegoeUI-SemiboldItalic.woff2") format("woff2"), url("./SegoeUI-SemiboldItalic.ttf") format("truetype"), url("./SegoeUI-SemiboldItalic.svg") format("svg");
  font-weight: 350;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+000D-FFFD;
}

body {
  background-color: #f0eccf;
  font-family: verdana;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  font-family: "SegoeUItalic", "montserrat", "Segoe UI", sans-serif;
}

.searches {
  display: inline;
  text-align: center;
  max-width: 100px;
  min-height: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 auto 20px;
  padding: 10px;
  box-sizing: border-box;
}

.search-year {
  box-sizing: border-box;
  padding: 15px;
}

.form-control {
  display: block;
  text-align: center;
  margin: auto;
  width: 30%;
  margin-top: -10px;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #777;
}
.form-control::-webkit-input-placeholder {
  color: #777;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  line-height: 34px;
  line-height: 1.42857143 \0;
}
input[type="date"].input-sm,
input[type="time"].input-sm,
input[type="datetime-local"].input-sm,
input[type="month"].input-sm {
  line-height: 30px;
}
input[type="date"].input-lg,
input[type="time"].input-lg,
input[type="datetime-local"].input-lg,
input[type="month"].input-lg {
  line-height: 46px;
}
.form-group {
  margin-bottom: 15px;
}

.btn {
  padding: 5px 45px;
  background: rgb(135, 135, 135);
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: 500;
  border-radius: 30px;
}

.sum-box {
  padding: 10px 60px;
  background: rgb(46, 45, 48);
  border: 0;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  font-family: "SegoeUItalic", "montserrat", "Segoe UI", sans-serif;
  border-radius: 30px;
}
